* {
    /*It allows us to include the padding and border 
     in an element's total width and height.*/
    box-sizing: border-box;
    margin:0;
    padding:0;
}

/*css for the entire body of the page*/
body {
    font-family: poppins;
    font-size: 16px;
    color: #fff;
     background: linear-gradient(to right, #d16ba5 0%, #7668a5 90%);
     background-position: center;
    background-repeat: no-repeat; 
    width: 100vw;
    height: 100vh;
}

/*css for the logo*/
.left{
    display: inline-block;
    position: absolute;
    left: 10px;
    top: 20px;
}

.left img{
    width: 170px;
}

/*css for the form box*/
.form-box {
    background: linear-gradient(to top, #33ccff 0%, #9999ff 100%);
    margin: auto auto;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 0 0 10px #000;
    position: absolute;
    top: 20px;
    bottom: 0;
    left: 0;
    right: 0;
    width: 500px;
    height: 390px;
}

/*css for the heading on the form box*/
.form-box .header-text {
    font-size: 28px;
    text-shadow: 2px 2px plum;
    font-weight: 600;
    padding-bottom: 30px;
    text-align: center;
    font-family: 'Mochiy Pop One', sans-serif;
    color: black;
}

/*css for the input fields*/
.form-box input {
    margin: 10px 0px;
    border: none;
    padding: 10px;
    border-radius: 10px;
    width: 100%;
    font-size: 18px;
    font-family: poppins;
    margin-top: 15px;
}

/*css for the placeholder*/
::placeholder {
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 15px;
}

/*css for the button*/
.form-box button {
    background: #d24dff;
    color: #fff;
    border: none;
    border-radius: 25px;
    cursor: pointer;
    width: 100%;
    font-size: 18px;
    padding: 10px;
    margin: 20px 0px;
    font-family: 'Mochiy Pop One', sans-serif;
    margin-top: 85px;
} 

.form-box button:hover{
    background-color: darkmagenta;
}

/*css for the error message being displayed*/
#error {   
    color : #e63900;
    text-shadow: 3px 2px white;
    font-family: 'Mochiy Pop One', sans-serif;
    font-size: 25px;
    text-align: center;
    font-weight: bold;
    padding: 40px;
    margin-top: 50px;
    margin-bottom: 60px;
    padding-bottom: 100px;
}

/*to target the footer*/
.inner-right{
    margin-top: auto;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
    position: absolute;
    width: 100%;
    left:0;
    bottom:0;
}

.inner-right a{
    text-decoration: none;           
}

.inner-right p {
    font-family: 'Acme', san-serif;
    margin-left: 50px;
    margin-right: 50px;
    font-size: large;
    font-weight: bold;
}           