* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;    
}

h1 {
    margin-top: 100px;
    font-size: 30px;
    color: black;
    text-transform: uppercase;
    font-weight: 300;
    text-align: center;
    margin-bottom: 15px;
}

table {
    table-layout: auto;
    width: 100%;
}

.tbl-header {
    background-color: rgba(255, 255, 255, 0.3);
    font-family: 'Playfair Display', serif;
}

.tbl-content {
    height: auto;
    overflow-x: auto;
    margin-top: 0px;
    border: 1px solid rgba(255, 255, 255, 0.3);
}

th {
    padding: 15px;
    text-align: center;
    vertical-align: middle;
    font-weight: bolder;
    font-size: x-large;
    color: black;
    text-transform: uppercase;
    font-family: 'El Messiri', sans-serif;
    text-align: left;
}

td {
    font-family: 'El Messiri', sans-serif;
    padding: 15px;
    text-align: center;
    vertical-align: left;
    font-weight: bolder;
    font-size: x-large;
    color: black;
    border-bottom: solid 1px rgba(255, 255, 255, 0.1);
    background-color: rgba(255, 255, 255, 0.2);
    text-align: left;
}

td a {
    color: black;
    text-decoration: none;
}

td a:hover {
    color: blueviolet;
}

body {
    background: rgb(122, 74, 136);
    background: linear-gradient(90deg, rgba(122, 74, 136, 1) 0%, rgba(122, 74, 136, 1) 46%, rgba(70, 169, 191, 1) 100%);
    font-family: 'Potta One', cursive;
    font-weight: bolder;
    font-size: xx-large;
}

.link1 {
    text-decoration: none;
    color: black;
}

section {
    margin: 50px;
}

::-webkit-scrollbar {
    width: 6px;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

::-webkit-scrollbar-thumb {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

.tbl-content:hover {
    font-weight: bold;
    box-shadow: 0px 9px 4px -6px grey;
    background-color: lightcyan;
    transform: translate3d(6px, -6px, 0);
    transition-delay: 0s;
    transition-duration: 0.4s;
    transition-property: all;
    transition-timing-function: line;
}

.navbar .left a img {
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 0px;
    margin-right: 30px;
}

.navbar {
    /*overflow: hidden;*/
    background-color: black;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    display: flex;
    margin-left: 0px;
    margin-bottom: 0px;
    left: 0;
    z-index: 1;
}

/* Navigation links */
.navbar a {
    float: left;
    display: block;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Volkhov', serif;
    font-weight: bold;
    margin-top: 20px;
}

.navbar .left {
    float: left;
    display: block;
    font-size: 1.25rem;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Volkhov', serif;
    font-weight: bold;
    margin-top: 0;
}

.navbar .left img {
    width: 170px;
    margin-top: 10px;
}

.navbar a.icon {
    display: none;
    background-color: black;
    margin-left: 170px;
}

/* The subnavigation menu */
.subnav {
    float: left;
    /*overflow: hidden;*/
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 1.25rem;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: black;
    font-family: 'Volkhov', serif;
    margin: 0;
    font-weight: bold;
    margin-top: 20px;
}

/* Style the subnav links */
.subnav-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: white;
    /*to set distance between of dropdown*/
    margin-top: 0px;
    background-color: black;
}

.navbar a:hover {
    background-color: lightseagreen;
    border: white;
    color: white;
}

.subnav .subnavbtn:hover {
    background-color: lightseagreen;
    color: white;
}

/* Add a grey background color on hover */
.subnav-content a:hover {
    background-color: lightseagreen;
    color: white;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
    background-color: black;
    color: black;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

@media screen and (max-width: 600px) {
    .navbar a,
    .subnav .subnavbtn {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
        width: 100%;
        background-size: 100% 100%
    }
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-left: 35px;
    }
    .navbar.responsive .left {
        float: none;
        text-align: left;
        margin-left: 0px;
    }
    .navbar.responsive .subnav {
        float: none;
    }
    .navbar.responsive .subnav-content {
        position: relative;
    }
    .navbar.responsive .subnav .subnavbtn {
        display: block;
        width: 100%;
        text-align: left;
        margin-left: 35px;
    }
    .navbar.responsive .subnav-content {
        margin-left: 0;
    }
    .navbar.responsive #profile {
        margin-left: 35px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 480px) {
    .navbar a,
    .subnav .subnavbtn {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}

#profile {
    margin-left: 75px;
}

.navbar .active {
    margin-left: 35px;
}

.final {
    background-color: black;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    width: 100%;
    bottom: 0;
}

.inner-right {
    margin-top: auto;
    text-align: center;
    font-weight: bold;
    color: white;
}

.inner-right a {
    text-decoration: none;
    color: white;
}

.inner-right p {
    font-family: 'Acme', san-serif;
    margin-left: 50px;
    margin-right: 50px;
    font-size: large;
    font-weight: bold;
}

h4 {
    text-align: center;
}

/* CSS for footer */
.b {
    display: flex;
    justify-content: center;
}

.btn1 {
    background-color: skyblue;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 25%;
    font-size: 30px;
    padding: 10px;
    margin-left: 70px;
    margin-top: 12px;
}

.btn1:hover {
    border-radius: 3px solid #9e3f6f;
    background-color: #3db0f7;
}

/* CSS for styling h4 heading */
h4{
    text-align: center;
    font-size: 20px;
    color: white;
    font-family: consolas;
}

.b{
    justify-content: center;
    display: flex;
}

.btn1:hover {
    border-radius: 3px solid #9e3f6f;
}

.btn {
    background-color: white;
    color: black;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 80%;
    font-size: 18px;
    padding: 10px;
    height: 10%;
    font-weight: bold;
}