*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {    
    background: rgb(154,113,166);
    background: linear-gradient(90deg, rgba(154,113,166,1) 0%, rgba(198,161,209,1) 46%, rgba(140,201,214,1) 100%);    
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: 100% 100%;    
    color: black;
}

.navbar .left a img {
    display: inline-block;
    position: absolute;
    left: 40px;
    top: 0px;
    margin-right: 30px;
}

.navbar {
    background-color: black;
    position: fixed;
    /* Set the navbar to fixed position */
    top: 0;
    /* Position the navbar at the top of the page */
    width: 100%;
    /* Full width */
    display: flex;
    margin-left: 0px;
    margin-bottom: 0px;
    left: 0;
    z-index: 1;
}

/* Navigation links */
.navbar a {
    float: left;
    display: block;
    font-size: 1.25rem;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Volkhov', serif;
    font-weight: bold;
    margin-top: 20px;
}

.navbar .left {
    float: left;
    display: block;
    font-size: 1.25rem;
    color: #333;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: 'Volkhov', serif;
    font-weight: bold;
    margin-top: 0;
}

.navbar .left img {
    width: 170px;
    margin-top: 10px;
}

.navbar a.icon {
    display: none;
    background-color: black;
    margin-left: 170px;
}

/* The subnavigation menu */
.subnav {
    float: left;
}

/* Subnav button */
.subnav .subnavbtn {
    font-size: 1.25rem;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: black;
    font-family: 'Volkhov', serif;
    margin: 0;
    font-weight: bold;
    margin-top: 20px;
}

/* Style the subnav links */
.subnav-content a {
    float: none;
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    border: white;
    /*to set distance between of dropdown*/
    margin-top: 0px;
    background-color: black;
}

.navbar a:hover {
    background-color: lightseagreen;
    border: white;
    color: white;
}

.subnav .subnavbtn:hover {
    background-color: lightseagreen;
    color: white;
}

/* Add a light seagreen background color on hover */
.subnav-content a:hover {
    background-color: lightseagreen;
    color: white;
}

/* When you move the mouse over the subnav container, open the subnav content */
.subnav:hover .subnav-content {
    display: block;
    background-color: black;
    color: black;
}

/* Style the subnav content - positioned absolute */
.subnav-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
}

/*css for responsive navbar as per the screensize*/
@media screen and (max-width: 600px) {
    .navbar a,
    .subnav .subnavbtn {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}

@media screen and (max-width: 600px) {
    .navbar.responsive {
        position: relative;
        width: 100%;
        background-size: 100% 100%
    }
    .navbar.responsive a.icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .navbar.responsive a {
        float: none;
        display: block;
        text-align: left;
        margin-left: 35px;
    }
    .navbar.responsive .left {
        float: none;
        text-align: left;
        margin-left: 0px;
    }
    .navbar.responsive .subnav {
        float: none;
    }
    .navbar.responsive .subnav-content {
        position: relative;
    }
    .navbar.responsive .subnav .subnavbtn {
        display: block;
        width: 100%;
        text-align: left;
        margin-left: 35px;
    }
    .navbar.responsive .subnav-content {
        margin-left: 0;
    }
    .navbar.responsive #profile {
        margin-left: 35px;
        margin-right: 50px;
    }
}

@media screen and (max-width: 480px) {
    .navbar a,
    .subnav .subnavbtn {
        display: none;
    }
    .navbar a.icon {
        float: right;
        display: block;
    }
}

/*css for 'you' on the navbar*/ 
#profile {
    margin-left: 75px;
}

.navbar .active {
    margin-left: 35px;
}

/*css for the heading 'Ideas,tips and tricks for seminar'*/       
#start{
    position: relative;
    top: 95px;
}

/*css for all headings*/
.heading {
    text-align: center;
}

h2 {
    font-size: 3.5vw;
    text-align: center;
    font-family: "Potta One", cursive;
    color:black;
}

/*css for introduction of the page*/
.introduction{
    display: flex;
    justify-content: center;
    margin-top: 130px;   
}

/*css for the first image in introduction */
.introduction img{
    float: left; 
    width: 500px;
    height: 300px;
    border: 3px solid coral;
    border-radius: 50px;
    margin-top: 15px;
    margin-left: 90px;
}

/*css for the text section of introduction*/
.introduction p span{
    text-align: justify;
    font-size: 28px;  
    font-family: 'Acme', sans-serif;
    display: block;
    padding: 0px 36px;
}

/*css for the tips for seminar*/
.tips{
    display: flex;
    justify-content: center;  
}

.tips .images img{
    float: left; 
    width: 350px;
    height: 250px;
    border: 3px solid yellow;
    border-radius: 50px;
    margin:0px 10px 5px 90px;
}

.tips .para h3{
    font-family: "Potta One", cursive; 
    font-size: 24px;   
    color: darkblue;
    margin:0px 10px 5px -177px;
}

.tips .para p{
    text-align: justify;
    font-size: 28px;  
    font-family: 'Acme', sans-serif;
    display: block;
    padding: 5px 36px;
    margin:0px 10px 5px -177px;
    padding-bottom: 15px;
}

/*css for the topics for seminar and its link effects*/
.topics h3 .link-effect{
    font-family: "Potta One", cursive; 
    font-size: 25px;   
    color: darkblue;  
    text-decoration: none;
}

.topics h3 .link-effect:hover{
    color: purple;
}

.topics{
    text-align: justify;
    font-size: 28px;  
    font-family: 'Acme', sans-serif;
    display: block;
    padding: 0px 36px;    
}

.topics #heading p{
    font-size: 32px;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.centre {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 40%;
    border-collapse: separate;
    border-radius: 50px;
    margin-top: 35px;
}

.link-effect  {
    margin-left:10px;
}     

.link-effect a {
    margin-left:10px;
    color: black;
    font-size: x-large;
    text-decoration: none;           
}

.specific a{
    color: cyan;
    text-decoration: none;
}

.left img {
    width: 150px;
}

.steps img{
    display: flex;
    text-align: center;
    margin-left: 420px;
    width: 500px;
    border-radius: 50px;
    border-color: black;
}

#fundamental{
    margin-left: 440px;
}

/*to target the footer*/
.inner-right{
    margin-top: auto;
    text-align: center;
    font-weight: bold;
    color: white;
    background-color: black;
    width: 100%;
    left:0;
    bottom:0;
}

.inner-right a{
    text-decoration: none;
}

.inner-right p {
    font-family: 'Acme', san-serif;
    margin-left: 50px;
    margin-right: 50px;
    font-size: large;
    font-weight: bold;
}        


